<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weiwei.maventest">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MavenTest"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <receiver-->
<!--            android:name=".PeripheralReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.justsy.mdm.action.peripheral.USB_PRODUCT_ID" />-->
<!--                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />-->
<!--                <action android:name="android.hardware.usb.action.USB_DEVICE_ATACHED" />-->
<!--                <action android:name="android.hardware.usb.action.USB_STATE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>